---
import type { CollectionEntry } from "astro:content";
import { dateTransform } from "@utils/dateTransform";

export type Props = {
  entry: CollectionEntry<"posts">;
};

const { entry } = Astro.props;
const date = entry.data.publishDate;
const link = `/${entry.id}`;
const category = entry.id.split("/")[0];
---

<div
  class="hover:shadow-md border col-span-1 relative overflow-hidden bg-surface border-base"
>
  <a href={link} class="absolute inset-0 z-1"></a>
  <div class="flex flex-col p-4">
    <span class="font-bold text-lg">
      {entry.data.title}
    </span>
    <p class="text-sm">{dateTransform(date)}</p>
    <div class="flex gap-2 text-sm justify-start">
      category:
      <a
        href={`/${category}`}
        class="badge-category hover:underline focus:underline focus:outline-none focus:ring-2 focus:ring-blue-400 z-2 relative"
      >
        {category}
      </a>
    </div>
    <div class="flex gap-2 text-sm">
      tags:
      <ul class="list-none flex gap-2 z-2">
        {
          entry.data.tags.map((tag) => (
            <li>
              <a
                href={`/tags/${tag}`}
                class="badge-tag hover:underline focus:underline focus:outline-none focus:ring-2 focus:ring-green-400 relative"
              >
                {tag}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
