---
import { Header } from "@components/Header";
import { Footer } from "@components/Footer";
import { SEO } from "astro-seo";
import { Styles } from "./styles";

import "bootstrap/dist/css/bootstrap.min.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const APPNAME = "通算n度目のブログ";
const pageTitle = `${title} | ${APPNAME}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={pageTitle}
      twitter={{ creator: "@gamoutatsumi", title: pageTitle }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [{ name: "twitter:title", content: title }],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header title={APPNAME} />
    <div class="d-flex flex-column min-vh-100">
      <div
        class="container-md d-md-flex flex-row justify-content-between mt-5 gap-5 align-items-start mb-auto"
      >
        <div class="card col-md-12 shadow-sm">
          <main>
            <slot />
          </main>
        </div>
      </div>
      <Footer title={APPNAME} />
    </div>
    <Styles client:only="react" />
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      type="text/partytown"
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "886de7f777fc43f498089c4ac5e54961"}'
     /><!-- End Cloudflare Web Analytics -->
  </body>
</html>
