---
import { getImage } from "astro:assets";
import { Header } from "@components/Header";
import { Footer } from "@components/Footer";
import { SEO } from "astro-seo";

const { title, image, description, pageType } = Astro.props;

const proliantImg = await getImage({
  src: import("@images/proliant.jpg"),
  format: "webp",
  alt: "proliant",
  width: 300,
});

export interface Props {
  title: string;
  image?: string;
  description?: string;
  pageType?: "website" | "article";
}

const APPNAME = "通算n度目のブログ";
const pageTitle = `${title} | ${APPNAME}`;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={pageTitle}
      twitter={{
        creator: "@gamoutatsumi",
        title: pageTitle,
        image: new URL(image ?? proliantImg.src ?? "", Astro.url).toString(),
        description: description ?? "@gamoutatsumi のブログ",
      }}
      openGraph={{
        basic: {
          title,
          image: new URL(image ?? proliantImg.src ?? "", Astro.url).toString(),
          type: pageType ?? "website",
        },
        image: { alt: pageTitle },
      }}
      description={description ?? "@gamoutatsumi のブログ"}
      extend={{
        link: [
          { rel: "icon", href: new URL("/favicon.ico", Astro.url).toString() },
        ],
        meta: [
          { name: "twitter:title", content: title },
          {
            name: "twitter:image",
            content: new URL(
              image ?? proliantImg.src ?? "",
              Astro.url,
            ).toString(),
          },
          {
            name: "twitter:description",
            content: description ?? "@gamoutatsumi のブログ",
          },
        ],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header title={APPNAME} />
    <div class="d-flex flex-column min-vh-100">
      <div
        class="container-md d-md-flex justify-content-between align-items-start mt-5 mb-auto flex-row gap-5"
      >
        <div class="col-md-12 card shadow-sm">
          <main>
            <slot />
          </main>
        </div>
      </div>
      <Footer title={APPNAME} />
    </div>
    <!-- Cloudflare Web Analytics -->
    {
      import.meta.env.PROD && (
        <script
          defer
          type="text/partytown"
          src="https://static.cloudflareinsights.com/beacon.min.js"
          data-cf-beacon={`{"token": "886de7f777fc43f498089c4ac5e54961"}`}
        />
      )
    }<!-- End Cloudflare Web Analytics -->
  </body>
</html>
