---
import type { CollectionEntry } from "astro:content";
import { dateTransform } from "@utils/dateTransform";
import Layout from "./Layout.astro";

export interface Props {
	title: string;
	body?: string;
	metadata: CollectionEntry<"posts">["data"] & {
		category: string;
		slug: string;
	};
}

const { title, metadata, body } = Astro.props;
---

<Layout
  title={title}
  pageType="article"
  image={`/ogp/${metadata.category}/${metadata.slug}.jpg`}
  description={body ? body.replaceAll("\n", "").substring(0, 80): ""}
>
  <div class="p-4 border-b">
    <h1 class="font-bold text-xl">{title}</h1>
    <div class="flex justify-between flex-wrap md:flex-nowrap">
      <div class="inline-flex gap-1">
        <p class="inline">tags:</p>
        <ul class="list-none flex">
          {
            metadata.tags.map((tag) => (
              <li>
                <a class="px-2 bg-gray-2 rounded-md hover:underline" href={`/tags/${tag}`}>{tag}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="inline-flex gap-1">
        <p class="inline">category:</p>
        <p>
          <a class="px-2 bg-gray-2 rounded-md hover:underline" href={`/${metadata.category}`}
            >{metadata.category}</a
          >
        </p>
      </div>
      <p title={dateTransform(metadata.publishDate, true)} class="inline">
        {dateTransform(metadata.publishDate)}
      </p>
    </div>
  </div>
  <div class="p-4">
    <slot />
  </div>
</Layout>

