---
import type { CollectionEntry } from "astro:content";
import { dateTransform } from "@utils/dateTransform";
import Layout from "./Layout.astro";

export interface Props {
  title: string;
  body?: string;
  metadata: CollectionEntry<"posts">["data"] & {
    category: string;
    slug: string;
    updatedDate: Date;
  };
}

const { title, metadata, body } = Astro.props;
const isNsfw = metadata.category === "nsfw";
---

<Layout
  title={title}
  pageType="article"
  showSidebar={true}
  excludeFromSearch={isNsfw}
  image={`/ogp/${metadata.category}/${metadata.slug}.jpg`}
  description={body ? body.replaceAll("\n", "").substring(0, 80) : ""}
>
  <div data-pagefind-body={!isNsfw ? "" : undefined}>
    <div class="p-4 border-b">
      <h1 class="font-bold text-xl">{title}</h1>
      <div
        class="flex justify-between flex-wrap md:flex-nowrap"
        data-pagefind-ignore
      >
        <div class="inline-flex gap-1">
          <p class="inline">tags:</p>
          <ul class="list-none flex">
            {
              metadata.tags.map((tag) => (
                <li>
                  <a
                    class="badge-tag hover:underline focus:underline focus:outline-none focus:ring-2 focus:ring-green-400"
                    href={`/tags/${tag}`}
                  >
                    {tag}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="inline-flex gap-1">
          <p class="inline">category:</p>
          <p>
            <a
              class="badge-category hover:underline focus:underline focus:outline-none focus:ring-2 focus:ring-blue-400"
              href={`/${metadata.category}`}>{metadata.category}</a
            >
          </p>
        </div>
        <div class="inline-flex flex-wrap gap-2">
          <p class="inline">
            <span>Published:</span>
            <span
              title={dateTransform(metadata.publishDate, true)}
              class="ml-1"
            >
              {dateTransform(metadata.publishDate)}
            </span>
          </p>
          <p class="inline">
            <span>Updated:</span>
            <span
              title={dateTransform(metadata.updatedDate, true)}
              class="ml-1"
            >
              {dateTransform(metadata.updatedDate)}
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="p-4">
      <slot />
    </div>
  </div>
</Layout>
