---
import type { CollectionEntry } from "astro:content";
import { dateTransform } from "@utils/dateTransform";
import Layout from "./Layout.astro";

import "bootstrap/dist/css/bootstrap.min.css";

export interface Props {
  title: string;
  body: string;
  metadata: CollectionEntry<"posts">["data"] & {
    category: string;
    slug: string;
  };
}

const { title, metadata, body } = Astro.props;
---

<Layout
  title={title}
  pageType="article"
  image={`/ogp/${metadata.category}/${metadata.slug}.jpg`}
  description={body.replaceAll("\n", "").substring(0, 80)}
>
  <div class="card-header">
    <h1 class="card-title">{title}</h1>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
      <div class="d-inline-flex gap-1">
        <p class="d-inline">tags:</p>
        <ul class="list-inline d-inline-flex gap-2">
          {
            metadata.tags.map((tag) => (
              <li class="card px-1">
                <a href={`/tags/${tag}`}>{tag}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="d-inline-flex gap-1">
        <p class="d-inline">category:</p>
        <p>
          <a class="card px-1" href={`/${metadata.category}`}
            >{metadata.category}</a
          >
        </p>
      </div>
      <p title={dateTransform(metadata.publishDate, true)} class="d-inline">
        {dateTransform(metadata.publishDate)}
      </p>
    </div>
  </div>
  <div class="card-body">
    <slot />
  </div>
</Layout>
